@use '../../styles/variables' as *;

.banner {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(rgba(240, 239, 235, 0.9), rgba(240, 239, 235, 0.9)), 
              url() center/cover;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.5rem;
    color: $color-dark;
    margin-bottom: 1.5rem;
  }

  .cta-button, .cta-button-secondary {
    background: $color-secondary;
    color: white;
    padding: 0.8rem 2rem;
    border: none; // Supprime toute bordure
    border-radius: 30px;
    display: inline-block;
    margin: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
    cursor: pointer; // Ajout pour une meilleure UX

    &:hover {
      background: darken($color-secondary, 10%);
      transform: translateY(-2px);
    }
  }
}